@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/base';
@import '@radix-ui/themes/styles.css';

/* Color Pallate */
.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
	--color-background: #0f172a;
}

.dark,
.dark-theme {
	--green-1: #101a16;
	--green-2: #11201a;
	--green-3: #033123;
	--green-4: #003f2b;
	--green-5: #004c35;
	--green-6: #005b41;
	--green-7: #006d50;
	--green-8: #008461;
	--green-9: #5ee8ba;
	--green-10: #52ddb0;
	--green-11: #4ad7aa;
	--green-12: #a9f8d9;

	--green-a1: #4fd70004;
	--green-a2: #42fd000a;
	--green-a3: #00fc001d;
	--green-a4: #00ff302c;
	--green-a5: #00fc5a3b;
	--green-a6: #00ff784b;
	--green-a7: #00fe905f;
	--green-a8: #00ff9f78;
	--green-a9: #67ffcae6;
	--green-a10: #5effc7da;
	--green-a11: #56fec4d4;
	--green-a12: #aefedef8;

	--green-contrast: #0a281e;
	--green-surface: #13290b80;
	--green-indicator: #5ee8ba;
	--green-track: #5ee8ba;
}

@supports (color: color(display-p3 1 1 1)) {
	@media (color-gamut: p3) {
		.dark,
		.dark-theme {
			--green-1: oklch(20.8% 0.0166 167.8);
			--green-2: oklch(22.6% 0.0239 167.8);
			--green-3: oklch(27.9% 0.054 167.8);
			--green-4: oklch(31.9% 0.0795 167.8);
			--green-5: oklch(36.3% 0.0872 167.8);
			--green-6: oklch(41.3% 0.0929 167.8);
			--green-7: oklch(47.2% 0.1031 167.8);
			--green-8: oklch(54% 0.1205 167.8);
			--green-9: oklch(84.3% 0.1376 167.8);
			--green-10: oklch(81.1% 0.1376 167.8);
			--green-11: oklch(79.3% 0.1376 167.8);
			--green-12: oklch(92% 0.0888 167.8);

			--green-a1: color(display-p3 0.3686 0.9961 0 / 0.013);
			--green-a2: color(display-p3 0.3686 0.9961 0 / 0.039);
			--green-a3: color(display-p3 0.1059 0.9961 0 / 0.108);
			--green-a4: color(display-p3 0.2078 0.9961 0.2314 / 0.169);
			--green-a5: color(display-p3 0.2941 1 0.4078 / 0.225);
			--green-a6: color(display-p3 0.3412 1 0.5137 / 0.289);
			--green-a7: color(display-p3 0.3804 0.9961 0.6039 / 0.363);
			--green-a8: color(display-p3 0.4078 1 0.6549 / 0.462);
			--green-a9: color(display-p3 0.5804 1 0.8118 / 0.888);
			--green-a10: color(display-p3 0.5608 1 0.8039 / 0.841);
			--green-a11: color(display-p3 0.549 1 0.7961 / 0.815);
			--green-a12: color(display-p3 0.7529 1 0.8863 / 0.962);

			--green-contrast: #0a281e;
			--green-surface: color(display-p3 0.0863 0.149 0.0431 / 0.5);
			--green-indicator: oklch(84.3% 0.1376 167.8);
			--green-track: oklch(84.3% 0.1376 167.8);
		}
	}
}

.dark,
.dark-theme {
	--gray-1: #14181e;
	--gray-2: #1a1f25;
	--gray-3: #212730;
	--gray-4: #252d39;
	--gray-5: #2a3341;
	--gray-6: #2f3b4c;
	--gray-7: #3a495e;
	--gray-8: #4d627f;
	--gray-9: #5b6f8c;
	--gray-10: #697d98;
	--gray-11: #a6b5ca;
	--gray-12: #eaeef5;

	--gray-a1: #e4420006;
	--gray-a2: #f9c1000c;
	--gray-a3: #f5e37714;
	--gray-a4: #eff8c319;
	--gray-a5: #eefee81f;
	--gray-a6: #d6f7fe29;
	--gray-a7: #bee2fc3f;
	--gray-a8: #aad3ff66;
	--gray-a9: #b4d6fd76;
	--gray-a10: #bdddff84;
	--gray-a11: #d7e9ffc0;
	--gray-a12: #f4f8fef4;

	--gray-contrast: #ffffff;
	--gray-surface: rgba(0, 0, 0, 0.05);
	--gray-indicator: #5b6f8c;
	--gray-track: #5b6f8c;
}

@supports (color: color(display-p3 1 1 1)) {
	@media (color-gamut: p3) {
		.dark,
		.dark-theme {
			--gray-1: oklch(20.8% 0.0134 256.8);
			--gray-2: oklch(23.7% 0.0138 256.8);
			--gray-3: oklch(27.1% 0.0193 256.8);
			--gray-4: oklch(29.6% 0.0248 256.8);
			--gray-5: oklch(32% 0.0279 256.8);
			--gray-6: oklch(35.1% 0.0335 256.8);
			--gray-7: oklch(40% 0.0407 256.8);
			--gray-8: oklch(49.1% 0.0527 256.8);
			--gray-9: oklch(53.7% 0.0513 256.8);
			--gray-10: oklch(58.3% 0.0479 256.8);
			--gray-11: oklch(76.8% 0.0351 256.8);
			--gray-12: oklch(94.9% 0.0095 256.8);

			--gray-a1: color(display-p3 0.9922 0.3216 0 / 0.017);
			--gray-a2: color(display-p3 0.9804 0.8235 0 / 0.043);
			--gray-a3: color(display-p3 0.9961 0.9647 0.4902 / 0.072);
			--gray-a4: color(display-p3 0.9765 1 0.7804 / 0.095);
			--gray-a5: color(display-p3 0.9451 1 0.9098 / 0.121);
			--gray-a6: color(display-p3 0.8588 0.9804 1 / 0.159);
			--gray-a7: color(display-p3 0.7922 0.9098 1 / 0.239);
			--gray-a8: color(display-p3 0.7059 0.8314 1 / 0.393);
			--gray-a9: color(display-p3 0.749 0.851 1 / 0.449);
			--gray-a10: color(display-p3 0.7765 0.8706 1 / 0.51);
			--gray-a11: color(display-p3 0.8706 0.9255 1 / 0.743);
			--gray-a12: color(display-p3 0.9686 0.9804 1 / 0.949);

			--gray-contrast: #ffffff;
			--gray-surface: color(display-p3 0 0 0 / 5%);
			--gray-indicator: oklch(53.7% 0.0513 256.8);
			--gray-track: oklch(53.7% 0.0513 256.8);
		}
	}
}

.radix-themes {
	--line-height: 156%;
	--letter-spacing: 0.01em;
}
